[2016-01-19 06:29] soulgalore opened #1 "HTTP/2 and the coach"
One thing that stops the coach from beeing released is making Browsertime handle HTTP/2 connections. It works fine right now without Browsermob Proxy, but we want the proxy to generate the HAR file and we need the HAR to do all the advice.

Tobias has started on generating the HAR directly from Firefox using https://github.com/firebug/har-export-trigger:
https://github.com/tobli/browsertime/tree/1

[2016-01-23 22:06] soulgalore opened #2 "Bookmarklet"
It would be great if the coach could be a bookmarklet. We done the concatenation and logs all the data to the console. But what we really want is a HTML-bookmarklet.

I'm a fan of the [DOM monster](http://mir.aculo.us/dom-monster/) something like that would be cool. A summary first, displaying when you got a score below 100. Or something :)

[2016-01-23 22:09] soulgalore opened #3 "Integrate HAR and DOM advice"
* create a new runner in bin that uses Browsertime with <code>experimental.nativeHar</code>, run the DOM advice, run the HAR advice on the generated HAR and then combine and log the result.

* setup functions to combine the advice and re-calculate the score for performance and overall.

[2016-01-23 22:14] tobli commented on #1
Har without using a proxy (thus enabling http2) is now live for both Chrome and Firefox in https://github.com/tobli/browsertime/tree/1.0.

[2016-02-01 12:47] keithamus opened #4 "landmarks.js should also detect roles"
Hey @soulgalore! I was reading through the (very clean) source for coach and noticed https://github.com/sitespeedio/coach/blob/master/lib/dom/accessibility/landmarks.js.

It should not only detect HTML5 elements with built-in landmarks, but also [landmark roles](https://www.w3.org/TR/wai-aria/roles#landmark_roles):

 - `[role="application"]` - A region declared as a web application, as opposed to

[2016-02-02 05:58] soulgalore commented on #4
Hey @keithamus
ah thanks I missed that. I'll fix that before the "real" release :)

[2016-02-04 22:36] tobli commented on #2
A first version of the bookmarklet is in place. It's created at build time in the dist folder, but also uploaded to GitHub Releases on each release (e.g. https://github.com/sitespeedio/coach/releases/tag/v0.1.9). Closing this issue for now, we can open follow up issues for more specific additions to the bookmarklet.

[2016-02-04 22:36] #2 closed

[2016-02-10 14:20] soulgalore commented on #3
fixed

[2016-02-10 14:20] #3 closed

[2016-02-10 14:21] soulgalore commented on #1
This is fixed now. However we have a mismatch between naming h1/h2/spdy in the coach dom/har and snufkin.

[2016-02-10 22:53] soulgalore opened #6 "Add another cache rule"
In 3.X we have two cache rules: One if your asset is missing cache headers with higher weight, and one where the check is for long cache headers (with lower weight).

[2016-02-10 23:12] tobli opened #7 "Handle response images in 'avoidscailingimaqges' advice."
If  avoidscailingimaqges advice can report incorrect image urls for img tags with srcset, but no src. http://www.aftonbladet.se/ is one such size (at least at the time of reporting). Since no src is present, the url get's reported as http://www.aftonbladet.se/.

<img title="Foto: Fredrik Sandberg/TT" style="width:100%;" srcset="http://images-9.svd-cdn.se/v2/images/cb02395d-a86f-4709-b34d-4a3e8dafd

[2016-02-11 10:56] soulgalore commented on #1
the mismatch is also fixed, lets close it.

[2016-02-11 10:56] #1 closed

[2016-02-11 10:57] soulgalore commented on #6
fixed in 435889649aa2e9877954db1227c71bfd0ceb94aa

[2016-02-11 10:57] #6 closed

[2016-02-13 19:42] #7 closed

[2016-02-17 05:07] softwareklinic opened #8 "Error while running the url with webcoach"
Keyurs-MacBook-Air:~ FamilyMac$ webcoach -u http://www.sitespeed.io --browser firefox
/usr/local/lib/node_modules/webcoach/bin/webcoach.js:5
let fs = require('fs'),
^^^
SyntaxError: Unexpected strict mode reserved word
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)

[2016-02-17 09:30] soulgalore commented on #8
Hey @softwareklinic
did you get a warning when you installed it? It needs nodejs version  4.2.0 or later. The install should warn about that. I'll update the readme too.
Best
Peter

[2016-02-17 12:10] softwareklinic commented on #8
Yes I did -
But keeps failing at let statement in js

Regards,
Keyur

On Feb 17, 2016, at 3:30 AM, Peter Hedenskog <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @softwareklinic<https://github.com/softwareklinic>
did you get a warning when you installed it? It needs nodejs version 4.2.0 or later. The install should warn about that. I'll update the readme too.
Best
Peter

—

[2016-02-21 20:52] soulgalore commented on #8
Hey @softwareklinic
so which nodejs version are you running? :)

Best
Peter

[2016-02-21 20:59] soulgalore opened #11 "More accessibility advice"
Here's a list of some accessibility advice we should implement. Let's break it down and create issues for the most important ones:
http://aduggin.github.io/accessibility-fails/

[2016-02-21 22:12] soulgalore opened #13 "Combine DOM & HAR for even smarter advice"
Evaluating the HAR advice for performance would benefit of knowing which assets are render blocking (or at least CSS inside head and JS that are synchronously loaded). If we would feed the [info](https://github.com/sitespeedio/coach/tree/master/lib/dom/info) result to the HAR advice, it would be possible to use that. Not 100% sure though how the advice would change :)

[2016-02-21 23:45] softwareklinic commented on #8
I downloaded the latest last week... I can check the version.. but initially it was showing me warnings that the version is old... so i updated to latest.

[2016-02-22 09:58] soulgalore opened #15 "Add advice for picture and srcset"
We don't have any checks today that a page implementation of picture and srcset is ok. The coach should now about that!!

[2016-02-22 10:29] soulgalore opened #16 "Make it easy to add your own advice"
One thing that is missing is that we should make it super easy to add your own advice. It would be cool that you can do it using the CLI standalone but also for other tools that uses the coach (sitespeed.io at the moment).

[2016-02-23 09:31] soulgalore opened #18 "Responsive check isn't correct"
The way we check if a page is responsive isn't correct:
https://github.com/sitespeedio/coach/blob/master/lib/dom/info/responsive.js

It will only work if the width of the browser window is small, then it's correct. Would be cool of course to know this even when the browser window width is bigger.

[2016-02-23 17:19] A5hleyRich opened #19 "Info: Requests and Sizes"
I would love to see requests and sizes added to the info for the following assets:

- Total
- CSS
- JS
- Font
- Images

[2016-02-23 18:58] A5hleyRich commented on #19
Happy to take this on if you're happy for it to be included.

[2016-02-23 19:02] A5hleyRich opened #20 "Info: Screenshot"
Ability to return a screenshot of the rendered page as binary data. Possibly add the `-s` option to toggle the inclusion. Similar to what PageSpeed does.

[2016-02-23 19:13] soulgalore commented on #19
Hey @A5hleyRich ,
cool. How do use the coach, only the JS or the combined JS/HAR? When we use the HAR we have that info already using https://github.com/sitespeedio/snufkin but we haven't exposed it in the output. I only thought of how we would use it in sitespeed.io but maybe that would be good so we expose it here to. Ping @tobli .

Best
Peter

[2016-02-23 19:16] soulgalore commented on #20
Yes, so we will have it sitespeed.io using Browsertime, but maybe we could do so can pass CLI parameters to Browsertime (that we use to run the browser), so it's also available for the coach. We haven't implemented it yet though in Browsertime :) It should be pretty easy using Selenium but it's nothing we have had time to look at yet.

[2016-02-23 19:42] A5hleyRich commented on #19
I'm using the combined JS/HAR.

[2016-02-23 19:55] soulgalore commented on #19
Cool. So in a couple of days ... weeks .. no days hopefully the 4.0 branch of sitespeed.io will be on Github and then we can have a look there see if that's what you need? Do you need the info or do plan to build something on top of the coach? If you just need the info, sitespeed.io will do. Else lets sync up and see how we can fix it.

[2016-02-23 20:34] A5hleyRich commented on #19
I'm looking at integrating Coach into a project I'm working on. I currently use YSlow, but Coach seems better in every respect. Great work btw!

I didn't realise Snufkin gathered that information, but that would require me to generate a separate HAR and then pass it to Snufkin, I believe?

[2016-02-23 21:03] soulgalore commented on #19
It depends how you run: if you pass a URL, the coach will open Browsertime, run the JS, get the HAR from Browsertime and use that. We use it here: https://github.com/sitespeedio/coach/blob/6012b57889be099ab7f1821ae40d76d3281905e1/index.js#L38
We should then make it configurable so also that object from snufkin also is exposed. If you feel that you have the time to do it, that's great :)

[2016-02-23 21:28] A5hleyRich commented on #19
I'll give it a go. I'm fairly new to node so bear with me!

[2016-02-25 08:13] soulgalore opened #24 "Make the advice for checking fonts smarter"
The coach should look for:
`font-display: swap` and and overall look more into fonts. Checkout
- https://tabatkins.github.io/specs/css-font-display/
- http://www.zachleat.com/web/preload/
- http://www.zachleat.com/web/president-web-font/

[2016-02-26 13:02] A5hleyRich opened #27 "Option to save .har file"
Is this something you guys would be interested in adding to Coach? I propose a new option which accepts a file path and saves the generated .har file?

`webcoach -u http://www.sitespeed.io --browser firefox --har /path/to/output.har`

I've implemented this locally, but thought I'd ask before raising a PR.

[2016-02-26 15:42] softwareklinic opened #28 "Great - finally got JSON response from WebCoach with latest version of node/npm"
Thank you - im testing this out now - trying to feed this data to elasticsearch/kibana - for initial review...

well - this is not an issue :) Just my way to express THANKX

[2016-02-26 20:58] soulgalore commented on #28
nice :)

[2016-02-26 20:58] #28 closed

[2016-02-26 21:16] soulgalore commented on #27
Hey @A5hleyRich I think we will try to keep the coach as minimal as possible. What's missing is a description/summary of what all the different tools will do and what's their responsibility, we'll try to start on that next week.

Been thinking and maybe you should use Browsertime straight off for what your building and then use the coach from that instead? Then you can have the HAR etc,

Best
Pete

[2016-02-26 21:23] soulgalore opened #29 "Make the coach give advice about preload"
Preload is coming, read @yoavweiss article for background:
https://www.smashingmagazine.com/2016/02/preload-what-is-it-good-for/

The coach should know about preload and give smart advice about when it can be used and when it shouldn't.

[2016-02-26 22:09] A5hleyRich commented on #27
Thanks for the advice Peter. I think you're right, then I can pass the generated HAR from Browsertime to Coach and Snufkin as required.

[2016-02-26 22:09] #27 closed

[2016-02-26 22:13] A5hleyRich commented on #20
Closing as feature falls out of scope.

[2016-02-27 19:05] softwareklinic commented on #11
Is the accessibility check based on WCAG 2.0 standards... or rather what are the accessibility standards being incorporated..

[2016-02-27 19:14] softwareklinic commented on #8
node is

Keyurs-MacBook-Air:coach FamilyMac$ sudo n stable

     install : node-v5.6.0
       mkdir : /usr/local/n/versions/node/5.6.0
       fetch : https://nodejs.org/dist/v5.6.0/node-v5.6.0-darwin-x64.tar.gz
######################################################################## 100.0%
   installed : v5.6.0

Keyurs-MacBook-Air:coach FamilyMac$ node -v
v5.6.0

[2016-02-27 19:25] soulgalore commented on #11
We actually started out with the most important stuff from this post: https://www.marcozehe.de/2015/12/14/the-web-accessibility-basics/

Just to have an easy start. Implementing the full WCAG 2.0 guidelines would be cool but I think we need a lot of help 2do that.

[2016-02-28 05:17] softwareklinic opened #30 "What is the best tool to visualize this data for now"

[2016-02-28 12:18] soulgalore commented on #30
There's no super good way today except looking in the JSON.

Either you can use the bookmarklet and check the console, then it's at least ok to check things (but you miss the advice from the HAR).

Else you can use https://stedolan.github.io/jq/ to parse the JSON and get the values you want.

[2016-02-28 12:28] soulgalore opened #31 "Add coach version in the final JS script + the output"
Lets make it easy to track which version of the coach you are using.

[2016-02-28 13:01] tobli commented on #30
Before too long Sitespeed 4 (still early in development) will be available to try out. With that you'll be able to push data to graphite, which will allow for powerful graphing, e.g. using Grafana.

[2016-02-28 14:08] soulgalore opened #32 "Error getting HAR from FF"
http://sj.se
[code]

[2016-02-28 17:08] softwareklinic commented on #11
We should collaborate with the developer of Asqatasun – its an Open source project on github – to see how these to projects can benefit from each other…

From: Peter Hedenskog <notifications@github.com<mailto:notifications@github.com>>
Reply-To: sitespeedio/coach <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Saturday, February 27, 2016 at 1:25 PM
To: sitespeedio/coach <coach@norepl

[2016-03-10 11:05] soulgalore opened #38 "Re-evaluate the cssInHead performance advice"
Today the coach warn about css that are loaded outside of head but [soon that will not be a anti pattern](https://jakearchibald.com/2016/link-in-body/). We need to adjust the advice.

https://github.com/sitespeedio/coach/blob/master/lib/dom/performance/cssInHead.js

[2016-03-11 12:07] soulgalore opened #39 "Frontend for the bookmarklet"
Today the bookmarklet just dumps the advice to the console log. Lets create a frontend for the bookmarklet.

[2016-03-13 18:46] soulgalore opened #40 "Simplify the API"
We need to flatten the API and use the same method names for both DOM and HAR.

[2016-03-15 21:43] soulgalore opened #42 "Merged DOM/HAR result is not working correctly"
When we implemented the coachAdvice structure in the DOM result, the merge broke.

1. Create tests that checks output from the CLI
2. Fix the merge issues.

[2016-03-15 22:03] soulgalore commented on #42
We could add some love to the cli test case so we are even more sure the next time something like this happens.

[2016-03-17 14:41] soulgalore commented on #42
added tests to take care of it.

[2016-03-17 14:41] #42 closed

[2016-03-17 14:41] soulgalore commented on #40
It is better now.

[2016-03-17 14:41] #40 closed

[2016-03-17 16:08] soulgalore opened #43 "Make the CLI output cleaner"
It's cool how https://github.com/MicrosoftEdge/static-code-scan has done the output. Lets make it possible to choose JSON output (as today) or a styled version.

[2016-03-19 18:53] #43 closed

[2016-03-19 18:57] soulgalore commented on #30
Hey @softwareklinic I've pushed #43 that makes the output from the CLI easier to understand. Still need some fixes but it is at least readable.

[2016-03-19 19:07] softwareklinic commented on #30
Cool will check it out

Sent from my iPhone

On Mar 19, 2016, at 1:57 PM, Peter Hedenskog <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @softwareklinic<https://github.com/softwareklinic> I've pushed #43<https://github.com/sitespeedio/coach/issues/43> that makes the output from the CLI easier to understand. Still need some fixes but it is at least readable.

—
You are rece

[2016-03-19 20:01] soulgalore opened #44 "Firefox categorize SPDY as HTTP/1 for HAR rules"
This is a bug in Firefox. HTTP/2 works fine.

[2016-03-19 20:12] soulgalore opened #45 "Different page size in Chrome & Firefox"
This is coming from the HAR files, could be a bug in snufkin or Browsertime, or Chrome/Firefox. Or could it be different DPI? Lets investigate.

<pre> $ bin/webcoach.js -u https://en.wikipedia.org/wiki/Barack_Obama -b chrome

...
The page total transfer size is 3.8 MB, which is more than the limit 2 MB. That is really big and you should check what you can do to make it smaller.

$ bin/webcoach.js

[2016-03-19 21:36] soulgalore opened #46 "Cli table output: Don't break words in advice output"
In the current version we insert a newline at an exact position. Instead it should insert it before a space, so that words aren't cut in the output.

Today it can look like this:
<pre>The page has 1 request(s) that have a shorter cache t
ime than 1 month. Can you increase them?</pre>

And it should be:
<pre>The page has 1 request(s) that have a shorter cache
time than 1 month. Can you increase the

[2016-03-19 22:21] soulgalore opened #47 "Add offending requests in the cli table output"
We need to find a way to show the requests/responses that make the advice score lower ... maybe add an option add a extra row (with full colspan) and add them there? Ping @tobli

[2016-03-20 20:42] #47 closed

[2016-03-21 12:19] soulgalore commented on #46
fixed today!

[2016-03-21 12:19] #46 closed

[2016-03-21 12:20] soulgalore commented on #45
Fixed in BT and updated to latest version.

[2016-03-21 12:20] #45 closed

[2016-03-21 12:21] soulgalore opened #49 "Favicon not reported by the HAR export trigger in Firefox"
Check if we can disable the favicon advice for FF for now.

[2016-03-21 12:21] soulgalore commented on #31
It's ok to have it in the output as we have now.

[2016-03-21 12:21] #31 closed

[2016-03-21 13:07] soulgalore opened #50 "Multiple documentRedirects is picked up in assetsRedirect advice"
You can test it with:

<pre>bin/webcoach.js http://en.m.wikipedia.org -b firefox --mobile</pre>

[2016-03-21 22:06] #13 closed

[2016-03-22 07:12] soulgalore opened #51 "Make the CSS advice smarter"
For HTTP/2 we can check that the transfer size of the CSS inside of head (or all CSS files) are within the magic limit of 14.5KB  (10 packets). Change the combineCSS for HTTP/1 to something smarter :)

And make the cssInHead ready for https://jakearchibald.com/2016/link-in-body/

[2016-03-23 13:09] soulgalore opened #52 "How to handle injected CSS and JS inside of head"
We have a flaw in the system today, the coach don't know if a javascript or css is injected into head. Some of the advice gets screwed by that. We need to discuss how we can fix that, have a couple of ideas and will write them down later today.

[2016-03-23 19:21] #19 closed

[2016-03-23 19:26] soulgalore commented on #30
closing this now, the cli table output is nice.

[2016-03-23 19:26] #30 closed

[2016-03-24 07:55] soulgalore commented on #52
@tobli and me discussed this offline. As we know there's no way to get the source code from the browser (let us know if you know a way) so we need to do another request to fetch it.

We want to make sure we fetch the HTML in the same session (so we will come in the same "bucket" for optimizely etc so we need to make the request from the browser when we run the javascript to collect the DOM advice.

[2016-03-24 08:17] soulgalore opened #53 "Add info check for "performance" tools"
Check if the page is using:
- New Relic
- mpulse/soasta
- pingdom rum

Should we add some advice about them? There's a lot that can go wrong with them.

[2016-03-25 21:08] soulgalore opened #55 "Spin up test server that uses H2 in Grunt."
Today we use grunt-http-server as the server that serves our test cases (HTTP/1). We also need a server that serves HTTP2, so we can also test the HTTP2 advice.

[2016-03-25 21:13] soulgalore commented on #55
It should be possible 2do with https://www.npmjs.com/package/http2 and follow Tobias advice for the certificate: http://tobias.is/blog/test-http2-localhost-caddy-ssl/

[2016-03-27 20:51] #55 closed

[2016-03-29 22:23] soulgalore commented on #51
This is fixed now + we dropped cssInHead.

[2016-03-29 22:23] #51 closed

[2016-04-07 09:23] soulgalore commented on #20
We have this in Browsertime so lets add it to the coach.

[2016-04-12 06:48] soulgalore commented on #38
This is done.

[2016-04-12 06:48] #38 closed

[2016-04-12 07:23] soulgalore commented on #50
There's no clean way to fix this now, but think it could be ok now when we show all document redirects.

[2016-04-17 18:45] soulgalore opened #78 "Subresource Integrity advice"
As reported by @tobli this could be something for the coach:
https://hacks.mozilla.org/2015/09/subresource-integrity-in-firefox-43/
https://hacks.mozilla.org/2016/04/how-to-implement-sri-into-your-build-process/

[2016-04-18 17:12] jdorfman commented on #78
@soulgalore First I want to say how **amazing** this product is.  Especially the little big details such as:

Would you like the advice as a PR or a User Story written in Gherkin Lang?  Let me know, can't wait to get this in.

[2016-04-18 18:16] soulgalore commented on #78
thanks @jdorfman :) The good thing I think is that we know that something like the coach is never finished so will continue to add/change advice when browsers evolve.

If you could implement it and send a PR that would be great! @tobli and my work on sitespeed.io 4.0 will keep us busy for the coming months so if you have time to implement it, it would be great! And we can help out of course, there

[2016-04-20 06:47] soulgalore opened #80 "Add info for Service workers"
Browsertime has support for running JS, so we can use it to check for service workers. Needs some re-structuring in the coach so we also support running async.

[2016-04-27 15:17] jdorfman commented on #78
I think @jonathanKingston might be able to get this done faster than I can.  I am going to send him an email.

[2016-04-27 21:31] jonathanKingston commented on #78
Hey @jdorfman we should start an SRI anonymous club :). Thanks for pinging me.

I don't have the greatest amount of time at the moment however we can kick of the conversation at least.

Checking for validity probably makes sense here and advising if they have it wrong (not sure if multiple states for the message are exposable on the report card at the moment)

- You have scripts without SRI, consi

[2016-04-28 22:29] bluesmoon commented on #53
yeah, Ghostery does this.  you can maybe have a look at their database.

[2016-05-10 18:00] beenanner opened #86 "Feature: Mixed content warning alert"
Flag users if their test page is https, but is serving non-https requests and list out what they are.

[2016-05-10 19:08] soulgalore commented on #86
Yep, good idea, lets add that.

[2016-05-12 07:49] soulgalore opened #87 "Better handling of JQuery check"
<pre>
[2016-05-12 09:48:57] http://www.svensktnaringsliv.se generated the following errors in the coach {
  "performance": {
    "jquery": "Cannot read property 'jquery' of undefined"
  }
}
</pre>

<pre>
[2016-05-12 10:48:27] http://www.norrkoping.se generated the following errors in the coach {
  "performance": {
    "jquery": "window.jQuery.fn is undefined"
  }
}
</pre>

[2016-05-12 09:08] soulgalore opened #88 "Using loadTimes when testing on Firefox"
<pre>
[2016-05-12 10:40:52] http://www.rtl.lu generated the following errors in the coach {
  "bestpractice": {
    "httpsH2": "window.chrome.loadTimes is not a function",
    "spdy": "window.chrome.loadTimes is not a function"
  },
  "info": {
    "connectionType": "window.chrome.loadTimes is not a function"
  },
  "performance": {
    "fastRender": "window.chrome.loadTimes is not a function",

[2016-05-12 10:17] #87 closed

[2016-05-12 10:18] soulgalore commented on #88
The problem is that these sites defines window.chrome.

[2016-05-12 10:18] #88 closed

[2016-05-22 13:41] spaghetti2514 opened #102 "Option to include a session cookie"
Being able to supply coach with a session cookie for the site being tested is necessary for sites that require a login to access.

[2016-05-22 14:14] tobli commented on #102
Hi @spaghetti2514!
Thanks for the feedback. Our plan is to expose the preScript feature in Browsertime to enable accessing a login page prior to testing. Stay tuned for that!

[2016-05-22 21:44] hellsan631 opened #103 "Some unrealistic advice for SPA applications"
I really like the tool, as it has pointed out some performance and accessibility gaps in a few of my applications. However, one piece of advice that its not accurate on is the 'Javascript Size' of my angular/react applications.

For Example:

I'm using gzip and js minification, and feel that the size of ~300kb is excellent, considering i'm compressing  23 different necessary vendor libraries (Angu

[2016-05-23 02:13] kristian-meyer opened #104 "Windows installation"
Is there a way to install coach in windows?  I got the following error below from the command prompt, it seems a simple enough problem, that the installer assumes '/' is the directory separator.

'tools' is not recognized as an internal or external command,
operable program or batch file.

[command line output.txt](https://github.com/sitespeedio/coach/files/276714/command.line.output.txt)

[npm-de

[2016-05-23 03:55] beenanner commented on #104
@kristian-meyer did you install via npm or did you use github and clone the project to your machine? The npm install is the preferred method unless you are doing development.

I tested the global npm install of webcoach on my Windows 10 and it seems to work for me.

 `npm install -g webcoach` then `webcoach https://google.com/`

If you used the git clone method you can install it without the dev d

[2016-05-23 04:23] beenanner commented on #103
@soulgalore I wonder if we can detect SPA sites automatically somehow and modify the rules like we do for h2. I guess the other options is to add an additional command line flag.

[2016-05-23 05:05] kristian-meyer commented on #104
I had that error when I cloned the project to my machine first.  Using npm install worked, thanks.

[2016-05-23 05:09] hellsan631 commented on #103
If there is information about the window and global variables, you can check to see if that library is defined. Something like ```if (angular || window.angular) then angular.is.enabled```

[2016-05-23 13:31] psyked opened #107 "Firefox requirement?"
Is Firefox an absolute requirement for *coach*, and should it be listed as such in the ReadMe file? Working with a fresh install I was presented with `BrowserError: Could not locate Firefox on the current system` and a subsequent failure.  Should *coach* continue, or fail at this point?

[2016-05-23 13:33] soulgalore commented on #107
yep we should come cleaner with that: you will need Firefox or Chrome. If you have time we love a PR for the readme :)

[2016-05-23 13:45] psyked commented on #107
In your defense the readme does actually say that Firefox and/or Chrome are required and that Firefox is the default (https://github.com/sitespeedio/coach#standalone), but perhaps the command line experience could be better!

[2016-05-23 13:45] #107 closed

[2016-05-24 06:30] rahilwazir opened #108 "Getting error while installing"
I'm getting error installing `webcoach`

[code]

[2016-05-24 06:51] soulgalore commented on #108
Hey @rahilwazir ,
seems like there is a problem with npm. I tried it now and it works for me. Wait a while and try again, I hope it will work :)

Best
Peter

[2016-05-24 07:04] soulgalore commented on #104
could be that the setup doesn't work on Windows for now, would love PR:s that makes it work.

[2016-05-24 07:14] rahilwazir commented on #108
@soulgalore Thanks it works now!

[2016-05-24 07:14] #108 closed

[2016-05-24 17:38] bronzehedwick opened #110 "Add a no color command line switch"
I'd like the an option on the command line to turn off color output in the table view, with something like `--no-color`. I would like to generate reports using this tool, but the ANSI color codes make the output hard to read.

[2016-05-24 17:41] bronzehedwick opened #111 "Allow overriding browser location"
Coach doesn't find Firefox/Chrome if they were installed with homebrew cask. Paths are in the form of `/opt/homebrew-cask/Caskroom/firefox/[version]/Firefox.app`

[2016-05-24 19:10] soulgalore commented on #86
This would be a perfect advice for someone outside the team to take on, I can help guide if there's someone that wants to do it :)

[2016-05-24 19:25] soulgalore commented on #103
Hey @hellsan631
thanks for the feedback!

First we could maybe fine tune the numbers depending if you are testing on mobile or desktop. We could also have different values depending if the JS is async or not. But I think the best solution is what we have in Browsertime (the engine we use to run JS in the browser). We have a future that we haven't used yet, where we can run a script before we acces

[2016-05-24 19:26] soulgalore commented on #110
Hey @bronzehedwick ,
good idea, lets see how we can fix that.

Best
Peter

[2016-05-24 19:33] soulgalore commented on #111
@bronzehedwick does it work out of the box with other tools? We use Selenium/Chromedriver with Browsertime. Can you share the log (if you get any), else if you could try out standalone [Browsertime 1.0 branch](https://github.com/tobli/browsertime/tree/1.0) with the verbose log to just see what happens. Thanks!

[2016-05-24 19:48] tobli commented on #111
Hi!
Browsertime has a feature to override the default location of Firefox (and Chrome). We just haven't gotten around to exposing that via the coach yet. Awaiting that, making a symlink should work, ugly as it might be.

[2016-05-24 19:54] tobli commented on #110
Quick implementation note: since we use chalk it should be as easy as using https://www.npmjs.com/package/chalk#chalkenabled. Patches welcome! =)

[2016-05-24 20:43] bronzehedwick commented on #111
Yeah, I used a symlink to get it working.

[2016-05-24 20:54] tobli commented on #8
Closing this, since it shouldn't be a problem with a recent version of the coach. Please re-open if you still have the same issue.

I just successfully tested the following:
[code]

[2016-05-24 20:54] #8 closed

[2016-05-24 20:56] bronzehedwick commented on #110
Excellent, I'll take a crack at this.

[2016-05-24 20:58] tobli commented on #32
I can't reproduce this when running (with Firefox 46):
[code]

I guess the code, browser and site have all changed since February… Hopefully this error is no more, so closing.

[2016-05-24 20:58] #32 closed

[2016-05-24 21:06] tobli commented on #20
Saving a screen shot is now possible by running
[code]
The coach api also supports screenshots by passing screenshot:true in the options object.

[2016-05-24 21:06] #20 closed

[2016-05-24 21:20] soulgalore commented on #32
Yep it was the old version of the site. They used to override JSON, but we handle that nowadays (I think).

[2016-05-24 21:21] tobli commented on #32
Right, would be useful to have as a test case if we could find something similar and extract it.

[2016-05-30 04:20] beenanner opened #114 "Find workaround for h2 test with chrome >= 51 and node 4"
With [Chrome 51 h2 no longer works with NPN](https://developers.google.com/web/updates/2016/04/chrome-51-deprecations?hl=en#remove-tls-next-protocol-negotiation-npn) causing one of the tests to fail due to needing ALPN which is only supported in node.js >= 5.0 while using the [http2 module](https://www.npmjs.com/package/http2) for running tests.

[2016-05-31 05:22] XhmikosR commented on #104
@soulgalore: any hints why it breaks on Windows?

[2016-05-31 05:32] XhmikosR commented on #104
Nevermind, I saw the error. How would you like to solve this? We could go with shell.js.

On a side note, I'm getting another error on Windows, I'll make a new issue.

[2016-05-31 05:41] XhmikosR opened #118 "Add AppVeyor support for Windows testing"
I will try setting things up later today or tomorrow.

[2016-05-31 05:45] XhmikosR opened #119 "Error when running on Firefox 47"
[code]

[2016-05-31 05:53] XhmikosR commented on #104
OK, it was simpler than I thought. See #117.

[2016-05-31 05:54] XhmikosR commented on #78
I tried looking into this but since I'm on Windows I'm hitting #119.

Once that's sorted, perhaps with #118 for automated Windows testing, I will try to take a stab at this.

[2016-05-31 06:23] #104 closed

[2016-05-31 06:25] soulgalore commented on #118
Hey @XhmikosR that would be super, we tried that before with sitespeed.io but never got it to work.

[2016-05-31 06:32] soulgalore commented on #114
so I guess ALPN worked in 4.4.4 but that was just luck then, I've missed that is 5 only when I added it to the project.

[2016-05-31 06:45] tobli commented on #114
Since this is purely a test issue I'd say we just disable these tests on node 4. It's only 4 months until node 6 will be the LTS version, so I don't think it's worth spending too much time on.

[2016-05-31 06:49] tobli commented on #119
Hi!
Does it work when using Chrome (passing -b chrome)? Seems to be an issue talking to Firefox, what version of Firefox are you running?

[2016-05-31 06:54] XhmikosR commented on #119
I'm using Firefox v47b9 64-bit.

Using `-b chrome` it works fine indeed.

[2016-05-31 06:58] XhmikosR commented on #119
BTW, this sounds weird

[code]

[2016-05-31 07:01] XhmikosR commented on #118
I'll make the tests under my account and if everything goes well, you will then add AppVeyor under your account and we'll make the switch.

[2016-05-31 09:55] soulgalore commented on #119
yep, that seems like a bug, can you please file a separate issue. thanks!

[2016-05-31 10:23] soulgalore commented on #114
sounds good.

[2016-05-31 16:54] XhmikosR opened #120 "optimalCssSize: wrong error message"
I tested this with `mpc-hc.org` and chrome 50 64-bit on Windows 7 64-bit.

[code]

[2016-05-31 21:46] #110 closed

[2016-06-02 19:30] XhmikosR commented on #119
So it seems from a quick view from my AppCeyor branch, that Firefox 46.0.0.5955 works fine. Firefox 47.0.0.5990 fails for me. Not sure if it has to do with the fact that my FF is 64-bit. AppVeyor is using the 32-bit version as far as I can tell.

[2016-06-02 19:35] XhmikosR commented on #119
All right, I verified it. The problem happens with the new FF 47beta version. 64-bit doesn't matter since I installed 46.0.1 64-bit and works fine.

Also, I doubt it's OS related, rather version related. But I'd need someone else to confirm.

[2016-06-03 12:11] XhmikosR opened #125 "cacheHeadersLong wrong info?"
So, I'm using [Apache Server Configs](https://github.com/h5bp/server-configs-apache) as my boilerplate.

[code]

Yet coach complains that it's less than a month. Checking the headers with curl, I get

[code]

Since those are served via MaxCDN, I wonder if the time difference is to blame.

/CC @jdorfman

[2016-06-03 12:24] XhmikosR opened #126 "`--noColor` still outputs color characters"
I was trying `node bin\webcoach.js https://mpc-hc.org/ --noColor --details>results.txt` and I notice that whenever `chalk.inverse` is used I get some weird characters in the text.

Example:

[code]

Screenshot:
![char](https://cloud.githubusercontent.com/assets/349621/15778482/27575c9c-299f-11e6-9fab-2654f5409495.png)

I see the same results with Notepad++.

[2016-06-03 23:59] jdorfman commented on #125
@XhmikosR what do you have your cache settings set at? It might be doing an override.

[2016-06-04 05:22] XhmikosR commented on #125
@jdorfman: 1 month, no override.

[2016-06-04 12:07] soulgalore commented on #125
Hey @XhmikosR
the definition of a month right now in the coach is 30.43 days. Lets see if we can find a good value.

Best
Peter

[2016-06-04 19:29] #125 closed

[2016-06-04 19:30] soulgalore commented on #120
Think this will make it cleaner, @XhmikosR are you able to check again?

[2016-06-06 04:49] XhmikosR commented on #125
@soulgalore: thanks now it's correct.

@jdorfman: sorry for the noise.

[2016-06-06 04:50] XhmikosR commented on #120
Now looks good, thanks!

[2016-06-06 04:50] #120 closed

[2016-06-06 08:48] matthojo commented on #39
I'm currently building a Chrome Dev tools extension for this, I'm sure if it suffices the whole of the issue though. Does this need to work in all browsers to be marked as complete?

(https://github.com/matthojo/coach-devtools)

[2016-06-06 09:30] tobli commented on #39
That's great @matthojo!
Browser extension and bookmarklet are both nice, I think there can be a place for both. With Firefox adopting the same extension api we could perhaps have an extension that works in two browsers.

Any thoughts on how to make maintenance (keeping up with new coach releases etc) as smooth as possible are also welcome. @soulgalore and I have started discussing this for the bro

[2016-06-07 07:02] #102 closed

[2016-06-08 08:23] XhmikosR commented on #119
So, it seems it's indeed an issue with Firefox 47. Travis CI fails now too.

[2016-06-08 08:32] soulgalore commented on #119
You are right. Yesterday 47 was released final, and it needs the Geckodriver to run and there was a new release yesterday https://github.com/mozilla/geckodriver/releases but there's no binaries yet. I'm not sure if the old geckodriver will work (haven't tested). @tobli started yesterday for a project to automatically install the geckodriver (as we do with Chromedriver). Also I think we need a new

[2016-06-08 10:59] matthojo commented on #15
I'm wondering if we could somehow utilise https://github.com/ausi/RespImageLint. It takes a short time to analyse different break points but does return good results.

[2016-06-08 11:26] matthojo commented on #39
The Chrome Extension is now coming along nicely, it's still unlisted on the store whilst I'm testing it but I'm hoping to make it live-live later today. https://chrome.google.com/webstore/detail/coach-panel/olecfjmnejnkjipoicfpneceppjeaemo

Regarding maintenance, it's a difficult one. The problem with the Chrome extension is it takes the 'raw' Coach JS as it doesn't need the web drivers - similar

[2016-06-08 11:32] soulgalore commented on #39
Wow @matthojo looks great!!!!

Really looking forward to when Chrome supports resource timing with weight per asset, then we can move some rules (and override them in the HAR advice).

[2016-06-08 15:11] XhmikosR commented on #126
Also, `--output=out.txt` has all color info in it. Is that intended?

[2016-06-08 15:13] XhmikosR commented on #120
@soulgalore:

[code]

I still find it weird. :/

Also, we should probably mention that size is with compression.

[2016-06-09 07:44] matthojo commented on #39
Yeh that will be awesome!
Just a heads up Coach Panel is now public and can be found by anyone on the Chrome Web Store 🎉

[2016-06-09 07:48] soulgalore commented on #39
Wow that's great! Can you submit a PR with a link in the README?

[2016-06-09 08:05] soulgalore commented on #39
@matthojo hmm I wonder if I have something that blocks it or did something wrong? I've installed it, it's greyd out and when i click "Coach Panel" I get to https://chrome.google.com/webstore/detail/coach-panel/olecfjmnejnkjipoicfpneceppjeaemo

<img width="208" alt="screen shot 2016-06-09 at 10 05 12" src="https://cloud.githubusercontent.com/assets/540757/15922755/af5d5f18-2e29-11e6-93e2-ca2f878b98

[2016-06-09 08:17] matthojo commented on #39
It's a Dev Tools panel, so appears alongside the other Chrome Dev Tools tabs.

I'm not sure how to remove that icon! I'll look into it further though..

[2016-06-09 08:19] soulgalore commented on #39
Ahhh I see now, thanks :) Awesome work!!!!

[2016-06-09 08:22] matthojo commented on #39
Glad you like it! :)

[2016-06-10 11:52] matthojo opened #134 "[Rule] Add in check for correct heading use in document structure"
## Description
As of HTML 5.1 specifications, developers are required to use `h1`-`h6` to convey document structure. This dis-allows multiple `h1` elements in a document, even when placed in sectioning elements.

## References
http://html5doctor.com/computer-says-no-to-html5-document-outline/
http://w3c.github.io/html/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements

[2016-06-16 11:49] XhmikosR opened #137 "Take into consideration `rel="preload"`"
https://w3c.github.io/preload/
https://github.com/filamentgroup/loadCSS#recommended-usage-pattern

[2016-06-18 11:23] soulgalore commented on #119
Hopefully this will be fixed by 47.0.1. For 48 when they will drop support for the Firefoxdriver (the driver used by default by Selenum) we need to support Geckodriver. See https://github.com/sitespeedio/sitespeed.io/issues/993

[2016-07-12 18:38] jasonbarry opened #148 "userTiming: Lack of User Timing API should not impact score"
<img width="665" alt="screen shot 2016-07-12 at 11 32 07 am" src="https://cloud.githubusercontent.com/assets/236451/16778774/4bd61bdc-4824-11e6-9161-6ab99cfa31c4.png">

I use webcoach to score my company's production site. We use [React's performance tools](https://facebook.github.io/react/docs/perf.html) for measuring metrics. Those performance measuring calls are dev only and don't get shipped t

[2016-07-13 20:05] soulgalore commented on #148
yeah, thought about if it should be in the info part from the coach or an actual advice when I added it the first time, but I kind of like the idea of that it helps people opening the eyes for the User Timing API, since it cool (but of course can be better in the future) and gives you more opportunities to collect your own RUM data.

[2016-07-28 19:33] soulgalore commented on #119
Fixed in 47.0.1

[2016-07-28 19:33] #119 closed

[2016-08-05 20:20] bronzehedwick commented on #126
Hi @XhmikosR sorry this is coming so late;  I added the `--noColor` option a bit ago and neglected to watch the repo. Following now, and I'll take a look.

[2016-08-05 20:24] bronzehedwick opened #163 "Miss-reporting HTTP/2"
I ran `webcoach` on the [mayo clinic](http://www.mayoclinic.org/) website and got a strange result; webcoach reported HTTPS was not enabled (true), but that HTTP/2 _was_ (false, and also impossible).

After a bit of investigation, I noticed that Mayo was loading some adsense scripts from Google that _were_ server over HTTP/2, but obviously none of their resources were.

I think webcoach should onl

[2016-08-06 03:00] beenanner commented on #163
@bronzehedwick are you using the command line npm module or the chrome extension? Can you post the command executed with the output you are seeing?

[2016-08-06 16:25] bronzehedwick commented on #163
Hi @beenanner, I am using the command line module, with `webcoach --format json --output mayo.json http://www.mayoclinic.org/`.

Here's the output:

[code]

[2016-08-07 18:44] soulgalore commented on #163
Hey @bronzehedwick it works like this: If you use Chrome we pick up the HTTP/2 info from <code>window.chrome.loadTimes().connectionInfo</code>. If you use Firefox we get it from the Resource Timing API v2 (https://github.com/sitespeedio/coach/blob/master/lib/dom/util.js#L78) by trying to find assets that loads on the same domain as the main document (we would need Navigation Timing V2 to be able t

[2016-08-08 13:28] bronzehedwick commented on #163
Yes, the error is that `httpsH2` gives a 100 score, when the page isn't actually served over HTTP/2.

Thanks for the clarity on firefox vs chrome. I tried running the test using firefox, but it just opened the browser with a new tab and hung there, webcoach seemingly never taking over the process. I had to kill the job from the command line. Using firefox 48.

[2016-08-09 18:35] soulgalore commented on #163
Hey @bronzehedwick ,
yep I see your point, let see how we can fix that. Need to find a pattern to remove the advice.

About Firefox, it's broken with Selenium right now :( https://github.com/sitespeedio/sitespeed.io/issues/1109

[2016-08-09 18:40] bronzehedwick commented on #163
Ah, gotcha.

Thanks for looking into this!

[2016-08-11 21:40] soulgalore commented on #163
FYI: upgraded and fixed Firefox.

[2016-08-12 13:44] bronzehedwick commented on #163
Just tested, and I can confirm that Firefox works. Thanks!

[2016-10-13 18:02] soulgalore opened #191 "Use ResourceTiming to get size of assets"
Lets use that as an alternative (we have that it Chrome 54) and then we override it with the HAR data (so that we still can have size based advice in devtools).

[2016-10-17 07:27] XhmikosR opened #195 "[tests] '0.0.0.0' doesn't work on Windows"
Using `localhost` seems to work fine. We need #123...

[2016-10-20 18:22] pranayreddi opened #197 "BatchScripting"
Hi,
I'm trying to get the response from bunch of url's saved in the har file and store in another file. Please suggest me to make changes.

'use strict';
var fs = require('fs');
var coachResult=[];
var api = require("webcoach");
var harJson = ("./harJson.har");
var domScript = api.getDomAdvice();
var harScript = api.getHarAdvice();
var options = {'browser' : 'chrome'};
var text = fs.readFileSync(h

[2016-10-20 18:43] soulgalore commented on #197
Hey @pranayreddi ,
I think it could be easier using sitespeed.io directly (latest beta of 4.0) that uses the coach internally. Or what do you wanna do with the result?

Best
Peter

[2016-10-20 19:02] pranayreddi commented on #197
when I do webcoach https://www.google.com, I get the response in a template.
So I expect similar response when I do batch scripting with multiple urls.

[2016-10-20 20:32] pranayreddi commented on #197
Can you please suggest me how to send multiple requests through a script to sitespeed.io?

[2016-10-24 03:53] beenanner opened #201 "Possible surface domains with a high # of connections opened"
This depends on https://github.com/sitespeedio/pagexray/issues/21. See it for details.

[2016-10-24 03:59] beenanner opened #202 "Mobile bandwidth cost of avg page weight on site"
Capturing something like "With a 1 GB plan per month a user could only visit X number of pages of your site before they used all their bandwidth." might be a useful metric to track for optimizing either a page or a site in general. Possible a fit for coach or sitespeedio for multiple page aggregation across a site.

[2016-10-24 06:53] soulgalore commented on #202
We could add it as info first, needs to be on HAR level so we need to add info there first.

[2016-11-08 19:56] lbod opened #204 "Reporting misconfigured mime types"
I raised this initially over at https://github.com/sitespeedio/sitespeed.io/issues/792 and it was suggested by @beenanner it might be good to add as a rule to the coach.

Having looked through the code it appears not much is needed other than adding a new advice. I'd like some feedback to understand if this is ok before I push the PR.

The HAR already reports an incorrect header via https://github

[2016-11-15 19:24] soulgalore commented on #16
In sitespeed.io we get coaches advice and run them together with timings from Browsertime. We should add an alternative to add your own advice + add your own category.

[2016-11-16 17:58] beenanner commented on #202
@soulgalore I tried reproducing this in grafana as a short term solution using the existing info passed to graphite.

![screen shot 2016-11-16 at 12 52 58 pm](https://cloud.githubusercontent.com/assets/723985/20358999/01f2067a-abfc-11e6-9b0e-a4c64454c9f1.png)

[2016-11-16 18:34] beenanner commented on #202
Problem I see with this is it would be fairly brittle if data rates change regularly, unless we make it a user defined option at run time to work.

[2016-11-16 20:12] soulgalore commented on #202
haha that is super cool @beenanner !!!

[2016-11-18 15:32] beenanner commented on #202
Adding link to our dashboard for convience: https://dashboard.sitespeed.io/dashboard/db/page-cost-estimator

[2016-11-20 04:08] beenanner commented on #204
@Ibod if you could start by making the weight 0 for now that will be good enough. We can change it later, but initially it will be good to have to inform the user. I would like to think on scoring it a bit more since some sites will not have totally control over all assets.

[2016-11-21 20:05] lbod commented on #204
@beenanner Ok will do. I'm struggling to remember where I was with this as there wasn't a quick reply but what I do remember is I spent time debugging what looks to be a bug tagging the advice as `bestpractice` and getting the results to update best practice accordingly.
I got slightly lost debugging all the promises but after moving the advice into a new `bestpractice` folder, the advice was exec

[2016-11-21 21:17] beenanner commented on #204
Sounds good @lbod. Maybe @soulgalore has some thoughts that could help you set this up as it would be a good use-case to improve the docs on how to add these for others in the future.

[2016-11-21 22:27] tobli commented on #204
Hi @lbod!
The current code for built-in HAR advice is hard coding a single 'performance' category. I agree that a good start for a PR is to put the new check within the performance category, with a weight of 0, and opening a separate issue for the hard coding.

Thanks!

[2016-11-22 13:12] jsocol opened #208 "Add CLI option to control viewport size"
For responsive sites it's important to be able to be deterministic about viewport size. I'd approach this by making two small changes:

* Add a `--viewPort` option in [lib/cli.js](https://github.com/sitespeedio/coach/blob/master/lib/cli.js#L65) that took a `WIDTHxHEIGHT` argument.
* Update the `--mobile` option to [not overwrite](https://github.com/sitespeedio/coach/blob/master/bin/webcoach.js#L19

[2016-11-22 13:14] soulgalore commented on #208
Hey @jsocol yes that sounds great, we haven't done that yet, a PR would be super thanks!

[2016-11-22 13:28] jsocol commented on #208
@soulgalore Opened #209, thanks!

[2016-11-22 13:31] #208 closed

[2016-11-22 20:32] lbod commented on #204
Hi @tobli and thanks. I forgot about tests so just doing that now as well as understanding how your tests are setup.

What's your normal process for adding/generating the test har files? How are you generating those files?

They're very large files, I was going to re-use the `www.sitespeed.io-redirecting-to-https.har` file because it's much smaller but really, I just want the smallest test har fil

[2016-11-22 20:40] tobli commented on #204
@lbod - no worries, you're not missing any important underlying reason. We just took files we had and knew, more or less. =)
So feel free to provide reduced, test case specific har files. Whatever we think makes most sense.

Thanks for contributing!

[2016-11-23 23:11] lbod opened #211 "Add build status image"
I can push a pr if you prefer but as you'll know it's a very simple change to the readme for the travis build status.

[2016-11-24 04:09] beenanner commented on #211
Added! Thanks for the suggestion @lbod!

[2016-11-24 04:09] #211 closed

[2016-11-24 04:20] #204 closed

[2016-11-24 04:20] beenanner commented on #204
Thanks @lbod!

[2016-11-24 20:14] lbod commented on #204
no problem @beenanner .. it's nice to see you're so open to PR's. I'll have a look to see if there's any bugs or features I could contribute to

[2016-11-26 03:51] beenanner commented on #204
@lbod absolutely and thank you for contributing! :-)

[2017-01-12 14:20] lapa182 opened #222 "Add the ability to sort the adviceInfo table"
I think we should be able to sort the advices just like the files in the tablet list, this can make the developer life easier to prioritise the fixes/enchantments.

[2017-01-12 18:30] soulgalore commented on #222
hey @lapa182 yes sorting by highest or lowest score should be best right? Now it's sorted by name of the advice, I think we should keep that and add the possibility to sort by score. Do you have time to do a PR?

[2017-01-13 11:55] lapa182 commented on #222
Sure, @soulgalore, I don't know if supposed to be that way but I'm going to open the PR with the change.

[2017-01-13 13:54] #163 closed

[2017-01-14 20:29] soulgalore opened #224 "Highlight if assets in HTTP/2 pushed"
In next Browsertime release >  1.0.0-beta.23  we will have the extra field was_pushed if the asset was http/2 pushed (in Chrome). Use that info in the fastRender advice.

[2017-01-16 15:00] soulgalore commented on #103
We have the <code>--preScript</code> but also lets add the <code>--preURL</code> that we have in Browsertime (accessing one URL before the one that the coach analyze), that way you can compare first hit and second URL.

[2017-02-06 11:57] lapa182 commented on #222
PR was raised :)

[2017-02-06 12:25] tobli commented on #222
Thanks for the reminder, I'll have a look.

[2017-03-13 15:43] lapa182 commented on #222
This was merged in https://github.com/sitespeedio/coach/pull/223

[2017-03-13 15:43] #222 closed

[2017-03-16 20:00] tobli commented on #114
Time heals all wounds. Or at least makes issues irrelevant once in a while.

[2017-03-16 20:00] #114 closed

[2017-03-18 03:11] beenanner opened #249 "Investigate adding aXe support for automated accessibility testing and reporting"
https://github.com/dequelabs/axe-core

http://www.deque.com/blog/accessibility-testing-axe-webdriverjs/

https://www.youtube.com/watch?v=jC_7NnRdYb0
https://www.youtube.com/watch?v=cOmehxAU_4s

This could be good for #11

[2017-03-19 06:27] tobli opened #250 "Browser identification doesn't work with mobile emulation."
Since browser identification depends on window.navigator.userAgent, a 'mobile' override will not match 'Firefox' or 'Chrome'. Maybe we should change how it's reported in the results table to something like 'Chrome (emulated mobile)'

```bin/webcoach.js --mobile --screenshot http://www.dn.se```

[code]

[2017-03-24 12:10] certainlyakey opened #253 "Coach reports empty alts as missing"
Currently the Coach hosted on sitespeed.io seems to report as an accessibility mistake empty image alts. 'Lacks alts' is not the same as 'has empty alts', which are totally fine from accessibility point of view.

[2017-03-24 21:06] greenkeeper[bot] opened #254 "An in-range update of uglify-js is breaking the build 🚨"
## Version **2.8.16** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sitespeedio/coach/compare/greenkeeper%2Fuglify-js-2.8.16">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-16 01:04] arielger commented on #253
+1

In some cases adding an empty `alt` tag is the best alternative (for example for decorative images or redundant alt content). There is more info in this post: http://webaim.org/techniques/alttext/

[2017-04-16 03:43] beenanner commented on #253
Hmm I'm not sure what the alternative would be. I personally prefer what it is doing now which is a lower score on alt tags with known blank alt tags vs giving a false higher score with incorrect usage of alt tags. Both of the cases explained are situational and require some sort of context to determine their validity. Would it be possible to detect those examples programmatically?

[2017-04-20 04:21] greenkeeper[bot] opened #259 "An in-range update of connect is breaking the build 🚨"
## Version **3.6.1** of [connect](https://github.com/senchalabs/connect) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sitespeedio/coach/compare/greenkeeper%2Fconnect-3.6.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      connect
    </td>
  </tr>
  <tr>
    <th align=left>
      Cu

[2017-04-24 10:16] greenkeeper[bot] opened #262 "An in-range update of mocha is breaking the build 🚨"
## Version **3.3.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sitespeedio/coach/compare/greenkeeper%2Fmocha-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2017-05-08 22:54] jaydub2099 opened #265 "Scoring for files that are outside of site control"
I was wondering if there is a way to exclude certain requests from some of the scoring for Coach. For example we have some Coach results that are for files that we do not control and thus cannot every improve our score in those performance categories.

For example:

cacheHeaders
The page has 3 request(s) that are missing a cache time. Configure a cache time so the browser doesn't need to download

[2017-05-09 12:40] soulgalore commented on #265
Hi @jaydub2099 yes it is by design from an end user perspective.

In older versions I think we had a couple of "known" offenders that were skipped when we did the score (=Google Analytics), but I never felt that it was good.

The way I used this before was to have those 3rd party assets as leverage to the product manager like we can do this much but still miss out as long as we use X. But I know,

[2017-05-17 05:41] greenkeeper[bot] opened #268 "An in-range update of serve-static is breaking the build 🚨"
## Version **1.12.3** of [serve-static](https://github.com/expressjs/serve-static) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sitespeedio/coach/compare/greenkeeper%2Fserve-static-1.12.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      serve-static
    </td>
  </tr>
  <tr>
    <th

[2017-05-27 13:03] #254 closed

[2017-05-27 13:04] #259 closed

[2017-05-27 13:04] #262 closed

[2017-05-27 13:04] #268 closed

[2017-05-29 21:25] d-chen opened #269 "HTTP/2 test incorrectly passes"
I see a similar report in #163 but I wasn't sure if it'd be okay to ping people on an old issue.

I was demoing the Coach extension in Chrome and someone pointed out the HTTPS test correctly failed but was still passing HTTP/2. Also when running the sitespeed.io NPM package, I'm not seeing a HTTP/2 recommendation under the Coach tab.

Is this test intended to not deduct points if a website is usin

[2017-05-30 04:42] soulgalore commented on #269
Hey @d-chen
thanks for reporting. I think the idea has been that if you are running https you should always upgrade to HTTP/2. However I think we should be revisited and change the advice since HTTP/2 is not always faster (better that it compress headers but not always faster). The advice should be that you need to measure and choose yourself.

HTTPS is important (there's another advice for that w

[2017-08-23 08:28] onurozkan commented on #253
I think right thing to do checking role="presentation" attribute for skipping decorative images.

https://www.w3.org/WAI/tutorials/images/decorative/

[2017-11-28 13:29] SeriyVol4ishe opened #281 "Dockerfile Issue"
I built a Docker container, but it doesn't work correctly.
Command line:

` docker run --rm serg/coach:1.0 --details http://example.com`

Output:

[code]

[2017-11-28 13:41] soulgalore commented on #281
Hey @SeriyVol4ishe
I tried the official one and it works for me:
`docker run --shm-size=512m sitespeedio/coach:1.0.0 https://www.sitespeed.io`

Do you use our Dockerfile or did you create your own?
Best
Peter

[2017-12-01 11:25] SeriyVol4ishe commented on #281
Hm, your variant works. I clone this rep from github and then build docker container with your Dockerfile from the same directory:

[2017-12-01 14:43] beenanner commented on #281
@SeriyVol4ishe  you may need to run the prepublish command to generate the min js before the docker build?

`npm run prepublish`

@soulgalore looks like we have the dist in the .gitignore file should we actually remove that and track the dist files?
https://github.com/sitespeedio/coach/blob/master/.gitignore#L5

[2017-12-01 20:03] soulgalore commented on #281
@beenanner I think we discussed it before and other libs that have the dist checked it's kind of hard to work with (like you do a change and you always need to commit it and you get strange diffs and hard to read merges). But maybe we could add another npm task to make it cleaner so you understand what to run to build it?

[2017-12-04 02:20] beenanner commented on #281
@soulgalore ok sounds like we should update the README.md with some more info on how to build from source.

[2017-12-04 02:44] beenanner commented on #281
@soulgalore do you think setting it as a postinstall task would be overkill? Then the dist js file would be auto generate on npm install. All that would be needed then would be the `docker build` command or `npm install` after the `git clone`.

See: https://github.com/sitespeedio/coach/pull/282

[2017-12-04 02:50] beenanner commented on #281
Never mind that solution would require build tools to be available better to just leave it to the developer to install the build tools and run a few steps. :-)

[2017-12-04 02:56] #281 closed

[2017-12-04 03:04] beenanner commented on #265
@soulgalore / @tobli what about categorizing them like we did in pagexray (i.e. 1st vs 3rd party) via a regex?

[2017-12-04 03:58] soulgalore commented on #265
@beenanner yes that could be a way to fix it!

[2018-01-26 15:31] brettallred opened #286 "avoidScalingImages give recommended Size"
It would be nice if we could recommend which size to make each image based on how it is displayed in the browser.  Currently it simply states that the images are scaled by at least 100 pixels.

This image size data could then be given to a web team to resize the images or better yet fed into a tool (imageoptim api, etc) that could automatically download and resize the image for the user and allow

[2018-01-26 15:36] soulgalore commented on #286
Hi @brettallred hmm we collect the actual size, could it be we don't display it in the extra info field? I know we show it in sitespeed.io (from the coach) if you click the extra info button. Let me check later on if we missed to just show that.

best
Peter

[2018-02-02 03:44] brettallred commented on #286
<img width="1385" alt="screen shot 2018-02-01 at 8 42 54 pm" src="https://user-images.githubusercontent.com/837992/35715566-81cfcfc6-0790-11e8-9298-9b11d3ff520e.png">

Peter - There is an example from the coach from sitespeed.io . The console version of the coach is basically the same.  The result could be something as simple as showing

```http://mozr.com/wp-content/uploads/2017/11/cropped-logo-2

[2018-02-02 11:45] soulgalore commented on #286
Ah I see, yep a PR would be cool. But it will be very specific to the configured view port right, so it really depends?

Best
Peter

[2018-06-01 21:13] Adesh opened #291 "use sitespeed and coach simultaneously from a node app"
is there a way to run webcoach simultaneously while testing a web page through sitespeed in node app?

[2018-06-02 14:59] Adesh commented on #291
Yes. But how to find recommendations in a node environment?

[2018-06-02 15:32] soulgalore commented on #291
You can have a look at the [Grunt plugin](https://github.com/sitespeedio/grunt-sitespeedio/blob/master/tasks/sitespeedio.js) it hasn't been updated to 7.0 yet but I don't think there should be an issue.

Best
Peter

[2018-06-13 20:56] #291 closed

[2018-06-18 15:06] soulgalore opened #293 "Speed up pick a page API"
If you collect the HAR from a site with a lot of requests (for example cnet), pick a HAR is really slow:

https://github.com/sitespeedio/coach/blob/master/lib/har/harCutter.js#L3-L21

I think clone deep is the problem, could it be better to just pick the nodes we want?

[2018-06-19 09:01] soulgalore commented on #293
Let us release this next week when FF 61 is stable.

[2018-06-19 09:01] #293 closed

[2018-07-02 14:22] DannyvanHolten opened #295 "avoidScalingImages should ignore svg that doesn't have any width"
As we use svg images on our website they autoscale to the width of the browser. They are size independent. But sitespeed sees them as scaled images. It should ignore those svg's in the score.

[2018-07-04 07:01] tobli commented on #295
Hi @DannyvanHolten!
Could you please provide a url for a site where you see this, as well as the version of sitespeed.io/coach you're using. I tried this on a few sites, but couldn't replicate.

Thanks,
/Tobias

[2018-07-04 07:09] tobli commented on #44
SPDY isn't really interesting anymore, and Firefox has changed a LOT in 2+ years. Closing this.

[2018-07-04 07:09] #44 closed

[2018-09-21 09:57] mendaomn opened #296 "Coach counts Link Preload stylesheet as render blocking"
According to my tests, the coach counts as render blocking a stylesheet loaded with Link Preload

To reproduce:

[code]

On that page, the resource `/static/styles/home.later.css` is loaded as follows:

[code]

To my knowledge, **this shouldn't count as a render blocking CSS resource**

I think one could either call a different function here: [fastRender.js:7](https://github.com/sitespeedio/coach/

[2018-09-22 13:29] soulgalore commented on #296
Hi @mendaomn thanks for the feedback, yeah we should look into that, any change you can make a PR?

Best
Peter

[2018-09-28 10:49] amic81 opened #297 "optimalCssSize, negative score"
Hi,

after doing a scan, in the advice of the coach I noticed that for the entry optimalCssSize the score value can fall below 0, in my case it arrived at -10 ...

is this correct or 0 should be the limit and not go negative?

Thank you

[2018-09-28 14:16] soulgalore commented on #297
Hi @amic81 thank you for creating the issue, yep that sounds wrong. Let me have a look this weekend.

Best
Peter

[2018-09-29 09:15] soulgalore commented on #297
This is fixed in the coming release, thank you @amic81 for submitting the issue!

[2018-09-29 09:15] #297 closed

[2018-09-29 09:17] soulgalore commented on #250
I partly fixed this so we at least say Chrome (emulated mobile) but the data from Browsertime is still undefined. We could make a follow up fix there.

[2018-09-29 09:17] #250 closed

[2018-10-01 05:58] amic81 commented on #297
Hi, thanks to you!

[2018-10-05 09:04] mendaomn commented on #296
Taking a deeper look at a possibile fix, it does seem you already are checking only styles with `rel="stylesheet"` which should by definition exclude the ones with `rel="preload"`

However, in my site there's a `<noscript><style rel="stylesheet" ...></style></noscript>` fallback and that may be the one that gets found by [util.getCSSFiles()](https://github.com/sitespeedio/coach/blob/master/lib/dom

[2018-10-05 12:39] soulgalore commented on #296
Hi @mendaomn
I'm planning to rework the recommendations for the Coach late October or late November, let keep this issue open until then. I will concentrate the time now first to release the new version of sitespeed.io etc.

Best
Peter

[2018-10-05 13:43] znerd opened #301 "[compressAssets] WOFF2 files are better served uncompressed"
Currently the *compressAssets* rule indicates that I should compress WOFF2 files. Since WOFF2 files are _already_ compressed, I don't think that is appropriate advice.

In fact I would suggest inverting the rule, and validate that already compressed files (WOFF2, GZIP, to name a few) are indeed not compressed _again_.

[2018-10-05 13:49] znerd opened #302 "[mimeTypes] False positive for OGG MIME type"
Currently [mimeTypes] complains about an `.ogg` file having an incorrect MIME type when it is `audio/ogg`.

However, according to these documents, that MIME type is correct:
- https://gingertech.net/2008/09/05/new-ogg-mime-types-ratified/
- http://www.ietf.org/rfc/rfc5334.txt

Sample:
- https://static.olark.com/jsclient/sounds/olark-chimes.ogg

Context:
- SiteSpeed.io 7.4.0 (with Coach 2.2.0)

[2018-10-05 14:05] soulgalore commented on #302
Hi @znerd thanks for creating the issue! I think the problem comes from PageXray, it's there each response is categorized: https://github.com/sitespeedio/pagexray/blob/master/lib/util.js#L6-L21

Any change you can do a PR and update it?
Thanks
Peter

[2018-10-05 14:11] soulgalore commented on #301
Hi @znerd yeah. Do you have time to do a PR? I'm planning to rework the advice late October or late November, but before that I will focus on getting the next sitespeed.io release out there.

Best
Peter

[2018-10-05 18:39] soulgalore commented on #302
Hmm that advice seems to not be so correct since it relays on things specified in PageXray. Let me fix that later on and for now update page xray.

[2018-10-08 05:48] znerd commented on #302
While I started looking into it I noticed you beat me to it – thanks 👍

I guess all that's remaining here is that the dependency version is bumped, and then a new Coach release?

[2018-10-08 07:18] soulgalore commented on #302
I had time to fix that yesterday so it went out with 2.3.0. New sitespeed.io will be released on Wednesday.

[2018-10-15 18:28] xanderstephens125 opened #303 "Issue Testing non '.com' domains"
I am attempting to test sites in several different domains (i.e. .ca, .fr, .com) with standalone mode. The .com test runs as expected, but any other domain of the same site gives the following error:

`ERROR: UrlLoadError: Failed to load/verify https://<site>.ca uri:chrome-error://chromewebdata/
    at SeleniumRunner.loadAndWait (/usr/src/app/node_modules/browsertime/lib/core/seleniumRunner.js:200

[2018-10-15 18:32] soulgalore commented on #303
Hi @xanderstephens125 no there's nothing built in that should stop you to test different domains. Could it be some kind of redirect that happens on those site depending on from where you test? If you can share one URL I can test at my end.

Best
Peter

[2018-10-15 18:37] xanderstephens125 commented on #303
@soulgalore thank you. I am attempting to test https://m.maccosmetics.ca

[2018-10-15 18:49] xanderstephens125 commented on #303
@soulgalore your first thought was correct, it is doing multiple redirects. If I hit the final site it works as expected. Thank you for your input.

[2018-10-15 18:49] #303 closed

[2018-10-15 18:50] soulgalore commented on #303
Thanks @xanderstephens125 for sharing! I could reproduce if I run like this:
`/bin/webcoach.js https://m.maccosmetics.ca`

When I run it directly in sitespeed.io, it works. The difference is that we run the browsers headless (with the headless flag for Chrome/FF in the Coach). Let me dig into this and check what's causing it. In the mean time you can add the --mobile flag, that works for me at lea

[2018-11-07 21:03] SowmyaMastaiah opened #312 "Favicon coach score"
When executing sitespeed coach under performance advice -- "favicon" always has score "0" even though favicons are present on page. I tried to execute on many other URL's and faced same issue.

[2018-11-13 11:40] soulgalore opened #305 "Implement Andrew Betts best practice in headers"
See: https://www.youtube.com/watch?v=k92ZbrY815c

[2018-11-13 11:41] soulgalore opened #306 "Update CSS advices"
See https://csswizardry.com/2018/11/css-and-network-performance/

[2018-11-14 19:38] soulgalore commented on #305
https://github.com/sitespeedio/coach/pull/310

[2018-11-14 21:44] soulgalore commented on #80
Fixed for next version.

[2018-11-14 21:44] #80 closed

[2018-11-15 11:59] #49 closed

[2018-11-15 20:06] soulgalore commented on #312
This was a bug in the current version, I've fixed it for the coming 3.0.

[2018-11-15 22:49] SowmyaMastaiah commented on #312
Thank you!!

[2018-11-16 18:18] soulgalore commented on #305
This is done and comes in 3.0

[2018-11-16 18:18] #305 closed

[2018-11-16 18:18] soulgalore commented on #312
Closing this for 3.0

[2018-11-16 18:18] #312 closed

[2018-11-17 07:01] soulgalore opened #320 "Create privacy category"
A couple of the advice in best practice is privacy advice. We should create a new privacy category and move the advice to that category + add a couple of more advice.

At the moment we have:
* use HTTPS
* use STS header
* use referrer-policy header
* do not use GA
* do not use AMP
* do not use Youtube
* do not use Facebook
* show third party % and warn if you load assets from 3rd parties
* mixed c

[2018-11-17 20:50] soulgalore commented on #86
Coming in 3.0 :)

[2018-11-17 20:50] #86 closed

[2018-11-19 23:00] soulgalore commented on #320
This is ready to go for 3.0.

[2018-11-19 23:00] #320 closed

[2018-11-21 07:33] mendaomn commented on #296
Hey @soulgalore

Congrats on releasing Coach 3.0!! It looks like it features a lot of cool stuff!

I was wondering whether this issue is still relevant, or is it now to be closed? :)

Best
Alessandro

[2018-11-21 07:35] soulgalore commented on #296
Hi @mendaomn no I haven't looked at it, sorry!

Best
Peter

[2018-12-12 11:00] kev2718 opened #324 "(NPM) webcoach -f json doesnt return complete valid json"
I am using webcoach@3.0.0 and node@10.14.2.
After using `webcoach https://www.sitespeed.io -f json` I get following result:

[2018-12-12 11:52:45] INFO: Testing url https://www.sitespeed.io iteration 1
[2018-12-12 11:52:48] INFO: 8 requests, 123.58 kb
{
  "advice": {
    "accessibility": {
      "adviceList": {
        "altImages": {
          "advice": "",
          "description": "All img tags r

[2018-12-12 11:04] soulgalore commented on #324
Hi @kev2718 yep seems like the log isn't silent. I think you can use `--output` until it's fixed

Best
Peter

[2018-12-12 11:53] kev2718 commented on #324
Hi @soulgalore ,
thanks for your answer. This works fine for me :)

Best,
Kevin

[2018-12-12 11:53] #324 closed

[2019-01-22 20:15] kazazor opened #325 "Coach says my requests on a domain are HTTP 1, but it's HTTP 2"
I would like to report a bug.

Command:
[code]

Then you'll see for the URL `https://www.ynet.co.il/home/0,7340,L-8,00.html` that Coach says:
[code]

But if you open dev tools on this URL you'll see that all the requests to `images1-ynet-prod.azureedge.net` are marked as h2:
in the dev tools filter just write: `domain:images1-ynet-prod.azureedge.net`
<img width="840" alt="screen shot 2019-01-22 at

[2019-01-22 20:23] soulgalore commented on #325
Hey @kazazor can you show me how you run? When I checked right now in master `bin/sitespeed.js https://hello.com -n 1` it looks right?
<img width="967" alt="screen shot 2019-01-22 at 9 22 41 pm" src="https://user-images.githubusercontent.com/540757/51563149-e4d59200-1e8b-11e9-855c-b30740d0b8ff.png">

Best
Peter

[2019-01-22 20:52] kazazor commented on #325
Sorry for being misleading here, `hello.com` was just an example so I won't write the website I'm using personally :) Didn't actually checked vs that URL..

The user name and password I shared with you are still valid so you can check it out using them with the example I provided you.

[2019-01-22 21:00] soulgalore commented on #325
Meh https://www.sitespeed.io/documentation/sitespeed.io/bug-report/#explain-how-to-reproduce-your-issue :)

I'll check first thing tomorrow.

[2019-01-22 21:06] kazazor commented on #325
Sorry for that :/ As you know I usually do, but I can't share this one :/

I'll try to find another open website that has this issue in order to show it here.

[2019-01-22 21:17] kazazor commented on #325
💣 found one!

Command:
[code]

Then you'll see for the URL `https://www.ynet.co.il/home/0,7340,L-8,00.html` that Coach says:
[code]

But if you open dev tools on this URL you'll see that all the requests to `images1-ynet-prod.azureedge.net` are marked as h2:
in the dev tools filter just write: `domain:images1-ynet-prod.azureedge.net`
<img width="840" alt="screen shot 2019-01-22 at 23 16 59" src="h

[2019-01-22 22:33] soulgalore commented on #325
Thanks for taking the time to find another URL @kazazor !!! Ok, the implementation was done before h2 was a thing, so it must be a bug in how the Coach uses the Resource Timing API, let me try to fix that ASAP.

[2019-01-22 22:41] soulgalore commented on #325
Hmm that example page is an AMP page, I wonder if the do something strange there. According to the Resource Timing API the page is a HTTP/1:
`window.performance.getEntriesByType('navigation')`

gives
<img width="444" alt="screen shot 2019-01-22 at 23 39 35" src="https://user-images.githubusercontent.com/540757/51570369-2a4f8a80-1e9f-11e9-8d96-83b753dec5e2.png">

but let me try your original URL.

[2019-01-22 22:43] kazazor commented on #325
Hmm that's strange, sorry that my alternative URL sucks haha

I just checked my original URL (which I cannot share) and I see the value `nextHopProtocol: "h2"` but still gets the error from Coach.

[2019-01-22 22:45] soulgalore commented on #325
Yeah I see that too, but the login page (where the add login/pw) is http/1 so maybe the Coach gets it wrong there somewhere.

[2019-01-22 22:46] kazazor commented on #325
Might be, even that in the message Coach specifies the domain on the main app which is different than the login URL.

In the meantime, I'll try to find another good open URL to share here so others could give it a try too.

[2019-01-25 06:42] soulgalore commented on #325
When I checked this a couple of days ago I got http2, I wonder if the problem when you test could be that the page hadn't loaded (just guessing now).

[2019-01-25 06:43] soulgalore commented on #11
Let us create a new issue with more updated list of what should be done.

[2019-01-25 06:43] #11 closed

[2019-01-25 06:44] soulgalore commented on #18
We should validate and check if this is still true. Is it a better way of doing this?

[2019-01-25 06:45] soulgalore commented on #24
This is low prio and I think we should just close it.

[2019-01-25 06:45] #24 closed

[2019-01-25 06:46] #39 closed

[2019-01-25 06:46] #50 closed

[2019-01-25 06:47] soulgalore commented on #53
We have this implemented for a couple of the most important ones.

[2019-01-25 06:47] #53 closed

[2019-01-25 06:48] soulgalore commented on #103
This will automatically work now if you use the Coach in sitespeed.io (with the new scripting ability) and that is enough I think.

[2019-01-25 06:48] #103 closed

[2019-01-25 06:49] soulgalore commented on #111
Low prio let us close it.

[2019-01-25 06:49] #111 closed

[2019-01-25 06:50] soulgalore commented on #118
I think we can skip this, we tried AppVeyor on sitespeed.io but we never acted on it.

[2019-01-25 06:50] #118 closed

[2019-01-25 06:51] soulgalore commented on #134
I'm not 100% sure how we implemented this, it would be perfect too go through this rule again and have a look.

[2019-01-25 06:53] soulgalore commented on #249
It will increase the JS size too much I think.

[2019-01-25 11:46] kazazor commented on #325
I don't believe that's the case since it did finish loading and I got full results

[2019-01-25 12:01] kazazor commented on #325
I just ran it using 8.0.4 and I don't see this suggestion anymore. I'll close it for now and reopen if it will appear again.

[2019-01-25 12:01] #325 closed

[2019-01-26 13:43] xanderstephens125 opened #327 "Modifying Coach Locally"
Hi,

I am attempting to change some of the scoring in the Coach for our personal use case. I am able to build the standalone Coach docker image locally and get the information in the format I want. I am wondering how I would use this updated coach code and Docker image with the existing SiteSpeed repo. Where does the SiteSpeed Repo call the Coach repo?

Thank you

[2019-01-26 19:45] webhamm opened #328 "Please add simple SEO meta and structured data validation feature to Coach"
It would be nice to have a simple Coach section that covered validation of known SEO/Social media metadata and structured data.
 Looking around the web I can't find a good online service that just does simple validation of metadata and some other structured data checks related to SEO and/or Social media. Maybe checking for presence of known items like canonical, title, or description. If there was

[2019-01-26 21:59] hellsan631 commented on #103
it's working great now, thanks

[2019-02-08 20:56] alienbuild opened #329 "ERROR: BrowserError: Could not start the browser with 3 tries"
I've made a node app using webcoach to return JSON data for a bunch of urls stored in a text file. Everything works fine on my windows pc but on unix I get the error:
**ERROR: BrowserError: Could not start the browser with 3 tries**
I've ensured both Chrome and Google are installed and up to date and nothing is blocking the browsers from what I can see.

Full error can be seen here:
![error](https

[2019-02-08 21:21] soulgalore commented on #329
Hi @alienbuild
usually when it can't start it's a mismatch between Firefox/Geckodriver and Chrome/Chromedriver. Geckodriver/Chromedriver should automatically be installed by latest version, can you verify that you run a recent version of Firefox/Chrome?

Best
Peter

[2019-02-08 21:26] soulgalore commented on #329
Latest released or latest in apt-get? :)

[code]

Just want to verify :)

[2019-02-08 21:28] soulgalore commented on #329
Else do you run --headless or do you use xvfb or do you have a screen on your machine?

[2019-02-24 13:51] sundarv85 opened #330 "Question: System Requirements"
Great project! One point we noted is: when we run this on a dual core + 4GB RAM - the performance is different than when compared to running it on CPU Optimized Quad Core + 4GB RAM.

The reason, of course, is that the Google Chrome is efficiently using the CPU optimized quad core for loading the resources in parallel, which drastically reduces the time consumed.

The question we have is:

1. What

[2019-02-24 14:47] soulgalore commented on #330
Hi @sundarv85
do you mean performance like how fast you get the result back from the coach or the actual performance score you get?

The performance score is independent of the machine you use it looks at how the page are build and not on actual numbers like first paint etc. The metrics is only collected by the coach but not used by calculating the score since these kind of metrics depends on CPU,

[2019-02-24 14:52] sundarv85 commented on #330
Hi @soulgalore

I meant the actual resource limitation (the performance metrics from the pages itself). Thanks. We will explore further on Docker and resource limitations.. Thanks for the quick response!

[2019-02-24 14:52] #330 closed

[2019-06-11 12:21] impca opened #334 "CSP declaration in meta tag ignored"
Using latest docker image of Sitespeed (sitespeedio/sitespeed.io:latest), Coach attempts to detect CSP headers (https://github.com/sitespeedio/coach/pull/315), but CSP declarations in the html source are ignored.

How to check? Create a page with CSP specified in a meta tag ( https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy#Examples ):

<meta http-equiv="Content-Se

[2019-06-11 12:41] soulgalore commented on #334
Hi @impca aha I guess then we only check the headers. Any change you have time to do a PR to fix it? I can try to guide you?

Best
Peter

[2019-06-11 14:16] ondras commented on #334
Hi @soulgalore ,

I would like to add that HTML `<meta>` tags can be used to supply many more HTTP response headers. Some do not even use the `http-equiv` attribute:

[code]

(this is a correct way to supply a referrer policy; also probably not detected by the Coach)

[2019-06-11 16:20] soulgalore commented on #334
Cool @ondras let me know if you have time to do a PR to fix that where it's applicable!

[2019-06-12 12:18] soulgalore commented on #249
I thunk I closed this too early. Let us check that out, it would be the best way to add more knowledge to the Coach, without us babysitting everything.

[2019-07-16 13:41] satyadityasharma commented on #329
@soulgalore @alienbuild I did the following and it helped me fix this issue hope this helps you.

- First, I downgraded the webcoach version to 3.4.0

- Then I downgraded my google-chrome version to 75.0.3770.100

- Then I passed --no-sandbox flag after exec -a "$0" "$HERE/chrome" "$@" <here> in /opt/google/chrome/google-chrome

That's it. :)

[2019-08-04 16:01] leem32 opened #339 "Coomands for Coach and Browsertime"
I've had a good read of the docs, but I'm still not certain on something.

I would like to use Coach to get all the advice and best practice recommendations in JSON format. And I would also like to use Browsertime to take a screenshot of the webpage and possibly take a video of the web page load.

I don't need to use the dashboard/grafana and I don't need any UI stuff. I only need the above data.

[2019-08-04 17:32] soulgalore commented on #339
Hi @leem32 I would run sitespeed.io directly and then cherry pick the data you need. Either you can use the [analysis storer plugin](https://www.sitespeed.io/documentation/sitespeed.io/plugins/#add-a-plugin), it will store all the JSONs from different tools per run, so then you will have a JSON file with all Browsertime data and Coach. Or you can write your own [sitespeed.io plugin](https://www.si

[2019-08-05 10:33] leem32 commented on #339
OK, thanks, I'm going to spend some time refamiliarising myself with NodeJS as I haven't used it for a while and then I'll give your suggestions a try.

Quick question. If I use docker then I'd need to call `Docker run` with every user request?

Also, does the Lighthouse plugin give the data with advice and recommendations or just the score for each category like in the screenshot on the Lighthous

[2019-08-05 12:04] soulgalore commented on #339
Yes.

You can get the full JSON from Lighthouse and cherry-pick what you need if you want.

[2019-08-05 12:07] leem32 commented on #339
In that case, I guess I'd have to call docker from a NodeJS script. If it's from a user request I would want to sanitize and filter the input before I make the request to sitespeed.io.

Thanks for your help :)

[2019-09-21 18:00] sumeetrohra commented on #126
@soulgalore I checked the source of this issue, --noColor  option is working, but when we output to some file, the file prints some random encoding bits, and that is an issue with cli-tables library (I was able to reproduce it with a basic example), I can make a small hack using regex to write the data correctly, should I use regex? or do you prefer something else?

[2019-09-22 15:26] sumeetrohra commented on #302
@soulgalore this issue is fixed.

[2019-09-22 19:25] #253 closed

[2019-09-22 19:27] #126 closed

[2019-09-22 19:27] soulgalore commented on #126
Cool, great work @sumeetrohra !

[2019-09-22 19:34] soulgalore commented on #302
Thanks @sumeetrohra for noticing!

[2019-09-22 19:34] #302 closed

[2019-09-22 21:40] sumeetrohra commented on #18
@soulgalore we can use the same check for multiple viewports, then even if 1 of them is not responsive, the site is not responsive, that should work. Should I start doing that?

[2019-09-23 10:46] soulgalore commented on #18
No I think we don't wanna change the viewport since it potentially could trigger other things (like downloading images that before was out of viewport but now become within the viewport). Maybe there are no good way of doing this, then I guess we can skip it,

[2019-09-26 12:30] sumeetrohra commented on #16
@soulgalore can you give me a small example of how you expect it in cli?

[2019-09-26 12:36] soulgalore commented on #16
Well, this isn't super easy, but I think the way it could work would be to point out a new advice following the same structure as today:

`--advice dom/performance/newPerfromanceAdvice.js `
`--advice har/bestpractice/newBestPractice.js `

The bad is that you need to know the current structure. but it will make it easier to implement.

What do you feel about it @sumeetrohra or do you have another i

[2019-09-26 13:45] cerebe opened #347 "HTTP Authentication"
Unless I missed it in the docs, I couldn't find a way to run coach on websites which are protected with [HTTP Authentication](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication).

Would that be a functionality that could be added?

[2019-09-26 14:02] sumeetrohra commented on #16
I think something like this would be better
```--harAdvice newBestPractice.js```
```--domAdvice newPerformanceAdvice.js```
difficult to implement but a better solution, I guess...

[2019-09-26 14:04] soulgalore commented on #16
That would work but we will miss what category it will use? So we need find a clean way to add that too.

[2019-09-26 14:06] soulgalore commented on #347
Hi @cerebe I think all options are passed to Browsertime if you run through the cli, so you could use all of these: https://www.sitespeed.io/documentation/browsertime/configuration/ (`--basicAuth`).

At least in theory :)

Best
Peter

[2019-09-26 14:49] cerebe commented on #347
Thanks for your answer, I think it's working but have auth access problem on my current test case even with browsertime.

I'll close this thread.

[2019-09-26 14:49] #347 closed

[2019-12-21 00:46] leonardoraele commented on #329
@soulgalore Same issue here. I'm also running the latest versions of chrome and ss.io, running with `--headless` option, inside a `debian:buster-slim`-based docker container.

[code]

Any idea?

[code]

[2019-12-21 10:03] soulgalore commented on #329
Hi @leonardoraele does it work with Firefox? Chromedriver is very picky with Chrome version, they need to match exact, wonder if that's the problem. What Chrome version are you using?

[2019-12-21 13:57] leonardoraele commented on #329
I don't have firefox installed in this image. Can try it.

The installed google chrome version is 79.0.3945.88. How can I know what version it was supposed to be?

[2019-12-26 17:36] leonardoraele commented on #329
@soulgalore The installed google chrome version is 79.0.3945.88. I don't have firefox installed in this image. How can I know what version of google chrome sitespeed.io expects?

[2019-12-26 20:41] soulgalore commented on #329
Hi @leonardoraele if you are using the latest, its 79. The way to see it is which Chromedriver version: https://github.com/sitespeedio/browsertime/blob/master/package.json#L9

Are you run headless with xvfb does that work?

Best
Peter

[2019-12-26 21:29] leonardoraele commented on #329
@soulgalore Tried to run with xvfb, but got the same result.

[code]

[code]

[2019-12-30 17:17] leonardoraele commented on #329
Note: The issue only happens when using chrome. It works fine for me with `-b firefox`.

[2020-03-07 18:46] soulgalore opened #352 "Split Coach into Coach and Coach-core"
Coach-core will hold:
*  getHarAdvice()
* getDomAdvice()
* merge
* pickAPage

And the coach can keep the rest of the functions and cli/browsertime functionality. That way our include in sitespeed.io will be much cleaner.

[2020-03-11 07:59] soulgalore commented on #352
Done

[2020-03-11 07:59] #352 closed

[2020-07-01 03:47] chenghuangu opened #355 "i got a problem when i use coach in linux"
![image](https://user-images.githubusercontent.com/47850961/86200918-9227fb80-bb90-11ea-8469-e2eeaaff9145.png)

please help me

[2020-07-01 09:26] #355 closed

[2020-07-01 11:38] chenghuangu opened #356 "Could not locate Firefox on the current system"
![image](https://user-images.githubusercontent.com/47850961/86239740-77767680-bbd2-11ea-95b8-34fd01b2f268.png)

[2020-07-01 11:40] chenghuangu commented on #356
i don't know how to resolve this problem and hope you can help me

[2020-07-01 12:26] #356 closed

[2020-07-02 14:53] shaqb commented on #265
Hey guys. Just wondered if you thought about bumping up the priority on this one as we're also getting marked down for some third parties out of our control. Makes it hard for our devs to judge whether they've made an impact or not.

[2020-07-02 19:11] soulgalore commented on #265
I see your point but I still think you as a site owner are responsible for third parties, so its low prio for me, sorry. You can choose what third party tools to use.

[2020-08-31 14:37] ahoiroman opened #358 "Running coach on docker with JSON output delivers invalid JSON"
The generated JSON is invalid:

1. Run `doer run sitespeedio/coach:4.5.0 https://www.sitespeed.io -f json`
2. Result contains log output and this is invalid JSON:

Result:

[code]

It should be possible to mute the log.

[2021-03-12 07:25] IMT-happy opened #363 "hi"

[2021-03-12 07:34] IMT-happy commented on #363
Excuse me, I have a question to ask you,when i use coach api to run my page with options, it doesn't use. and then  I also looked at the relevant documents, but I can't solve it now
for example:
![image](https://user-images.githubusercontent.com/47850961/110907121-e0a8af00-8347-11eb-9470-0b8fc3627f23.png)
my code:
![image](https://user-images.githubusercontent.com/47850961/110907232-0afa6c80-8348-

[2021-04-12 13:55] mfontani commented on #295
We're being bit by this on our main site, but have provided a separate easier to test page which exhibits this issue.

See https://www.theregister.com/Design/page/sitespeedio_bug.html

In it, there are five test cases:

1. what we use on the main site - a SVG + PNG sized 340x63 and put in a 190x35 img (errors)
2. shouldn't error but does! - a SVG + PNG sized 190x35 and put in a 190x35 img (errors,

[2021-05-01 18:49] nvjacobo opened #365 "chrome failed to start"
I am trying to run coach with docker When i run it:

My setup
- Docker version 20.10.5+dfsg1, build 55c4c88
- Debian bullseye

[code]

[2021-08-22 16:27] Shriever opened #369 "README typos"
Hey everyone,

This is going to be my first open source contribution so I wanted it to be something simple.

I noticed that there were a few typos in the README.
For example - `Privay` instead of `Privacy` and `Make sure that your page respect user privacy.` instead of
`Make sure that your page "respects" user privacy.`

I'd like to go through the README and fix as many grammatical errors as I can

[2021-10-04 05:16] #195 closed

[2021-10-14 14:23] vinodhum opened #371 "Could not start chrome with 3 tries"
Hi,
I downloaded webcoach using `npm i webcoach`  it downloaded chromedrivers verssiion 87 which doesn't match with browser version. how can I download `94.0.4606.81` while npm install ?
I tried `CHROMEDRIVER_VERSION=94.0.4606.81 npm i webcoach` that didn't work too

[2021-10-14 18:28] soulgalore commented on #371
Hi @vinodhum that id my fault that have missed updating the dependencies for a while, let me fix that. Your install fix should work, I wonder if you need to clean node_modules first maybe?

[2021-10-15 17:21] vinodhum commented on #371
Thank you @soulgalore, now  its working with table output with `--details --description ` but when I use  `--visualMetrics` getting below error

[code]

[2021-10-15 17:57] vinodhum commented on #371
I manually downloaded ffmpeg and set in path and it worked but wanted to see if there option to download as a part of npm

secondly, after downloading tried to runn `webcoach --visualMetrics --filmstrip.showAll --shm-size=1g --axe.enable -n 2 --multi --outputFolder ./Results/test --spa -b chrome http://localhost:3000/#/`  I didn't get any output . what am I doing wrong here ? and its not using out

[2021-11-26 02:24] yoodongsa opened #374 "Webcoach's accessbility is not displayed."
When using sitespeed.io, there was a case where accessibility was not output.
But when I used it a few years ago, it worked. Did the usage change with the version change?
Where can webcoach's advice be analyzed? thank you.

![image](https://user-images.githubusercontent.com/73861418/143517206-6db976e5-cf77-42cf-a2d5-22377273e230.png)

**Both the coach and chrome driver versions are up to date.**
c

[2021-11-26 05:13] soulgalore commented on #374
Hi @yoodongsa we removed accessibility advice in sitespeed.io 20/coach and started to use AXE-core instead (since it gives better advice). You can enable that with `--axe.enable` and the docs: https://www.sitespeed.io/documentation/sitespeed.io/axe/

[2021-11-26 05:20] yoodongsa commented on #374
Can I use the accessbility if I downgrade the version?

[2021-11-26 07:48] soulgalore commented on #374
Yes, but then you need to make sure you use a correct Chromedriver.

[2021-11-26 07:49] yoodongsa commented on #374
thank you very much :)

[2021-11-26 08:55] #374 closed

[2022-09-15 14:18] BurhanRaja opened #378 "README Hashlink not working"
Hello! everyone.

I just wanted to address a small bug in the readme.md file.
There are three hashlinks in your readme that is not working.

1. What do the coach do? - https://github.com/sitespeedio/coach#what-do-the-coach-do
2. How does it all work? - https://github.com/sitespeedio/coach#how-does-it-all-work?
3. Do my page need coaching? - https://github.com/sitespeedio/coach#do-my-page-need-coac

[2022-10-21 17:50] xit4 commented on #378
I handled this in PR #379

[2022-10-24 04:53] BurhanRaja commented on #378
Ok, no problem. 😅

[2022-10-24 04:53] #378 closed